#inicial{
 background-color: #dfdcdc;
 height: 100vh;
}
#inicial img{
    width: 600px;
    padding: 5px;
}

#principal{
    width: 100%;
}

main a{
    color: black;
    display: flex;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
    outline: none;
}



@media screen and (max-width: 768px){
   
    #principal{
        flex-wrap: wrap;

    }
    #inicial{
        background-color: white;
    }

    #inicial img{
        width: 100%;
        padding: 5px;
    }

    
}


