*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #960F0F;
}

span{
    color: white;
}
body{
    display: flex;
    flex-direction: column;
}

#menuToggle{
    display: none;
}

.menu-icon{
    display: none;
}




.menu input:focus{
   outline: none;
    
}

.menu > div > *{
    width: 320px;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
    
    
}


.menu input{
    border-radius: 10px;
    border-style: none;
    padding: 5px;
    background-image: url(/public/img/search-16.svg);
    background-position: 5px;
    background-repeat: no-repeat;
    padding-left: 40px;
    text-align: left;
}



.div > *:hover{
    background-color: #ff0000;
}

.div a{
    text-decoration: none;
    color: black;
}

#menu_lista{
    display: none;
}

.card_filme{
    background-color: #dfdfdf;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    user-select: none;

}

.card_info_filme{
    display: flex;
    width: 40%;
    flex-wrap: wrap;
}

.card_titulo{
    width: 100%;
    font: 1.3em sans-serif;
    font-weight: bolder;
    
}

.card_data{
    width: 50%;
    font: 1em sans-serif;
    text-align: center;
}
.card_duracao{
    width: 50%;
    font: 1em sans-serif;
    text-align: center;
}
.card_genero{
    width: 50%;
    font: 1.1em sans-serif;
    text-align: center;

}

.card_nota{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.card_filme img{
    width: 150px;
    height: 150px;

}



footer{
    align-self: flex-end;
    flex-shrink: 0;
    height: 40px;
    width: 100%;
    background-color: #960F0F;
    text-align: center;
    color: white;
}



@media screen and (max-width: 768px){
    header{
        position: sticky;
        top: 0px;
        width: 100%;
    } 
    #menuToggle{
        display: none;
    }
    
    .menu-icon{
        display: none;
    }
    

      header nav {
          width: 100%;
          height: 100%;
      }
      .menu {
          display: flex;
          position: fixed;
          flex-wrap: wrap;
          align-content: center;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 0%;
          background-color: rgba(0, 0, 0, 0.7);
          overflow: hidden;
          -webkit-transition: height 0.3s;
          -moz-transition: height 0.3s;
          -ms-transition: height 0.3s;
          -o-transition: height 0.3s;
          transition: height 0.3s;
      }
    
      .menu > div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
      }

    
    .card_data, .card_duracao, .card_genero, .card_titulo{
        width: 100%;
        font: 1em sans-serif;
        text-align: center;
    }
    
     
      .menu-icon {
          width: 50px;
          height: inherit;
          display: block;
          position: absolute;
          top: 15px;
          right: 30px;
          line-height: 60px;
          color: white;
          z-index: 999;
      }
      #menuToggle:checked ~ label img:nth-child(2) {
        display: block;
      }
      #menuToggle:checked ~ label img:first-child {
        display: none;
      }
      #menuToggle:not(:checked) ~ label img:first-child {
        display: block;
      }
      #menuToggle:not(:checked) ~ label img:nth-child(2) {
        display: none;
      }
    
      #menuToggle:checked ~ .menu {
          height: 100%;
      }
      .menu-icon img {
          font-size: 1.7em;
      }
    

      main{
        padding-top: 50px;
      }
    
}

